- if rules.count > 0
  Rules Report
  %table{:class=>"table table-striped table-bordered table-condensed"}
    %tr
      %th
        Name
      %th
        Deal Count
    - rules.each do |rule|
      %tr
        %td
          = rule.name
        %td
          = rule.deals.count
- else
  You have no rules
