- if commissions.count > 0
  Commissions
  %table{:class=>"table table-striped table-bordered table-condensed"}
    %tr
      %th
        Payment Date
      %th
        Amount
    - commissions.each do |commission|
      %tr
        %td
          = commission.payment_date.try(:strftime, '%D')
        %td
          = number_to_currency(commission.amount)
- else
  You have no commissions
