Welcome #{current_user.email} you are an administrator.
%ul
  %li
    = render 'my_rules', rules: @rules
  %li
    = link_to 'Commission rules', rules_path
  - if current_user.is?(:moderator)
    %li
      = link_to 'Deals', deals_path
