Welcome #{current_user.email}!
%ul
  - if current_user.is?(:admin)
    %li
      = link_to 'Commission rules', rules_path

  - if current_user.is?(:moderator)
    %li
      = link_to 'Deals', deals_path
