Kinetic
= link_to 'Sign out', destroy_user_session_path, method: :delete
%br
- if current_user.admin?
  = link_to 'Commission rules', rules_path
- else
  = render 'my_commissions', commissions: @commissions
