// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.js-calculation-date div, .js-payment-date div {
  display: inline-block;
}
.formula-field {
  width: 500px
}
.day-field {
  width: 50px
}
