Organizations
%table{:class=>"table table-striped table-bordered table-condensed"}
  %tr
    %th
      Name
    %th
      Actions
  - @organizations.each do |organization|
    %tr
      %td
        = organization.name
      %td
        = link_to 'Edit', edit_organization_path(organization)

= link_to 'New organization', new_organization_path
