Use [AMT] to represent the amount of the deal. ex: "[AMT] * 0.25"
= compensation_form.input :calculation, label: 'Commission formula'
= compensation_form.input :type, as: :hidden, input_html: { value: 'BasicCompensation' }
